@import 'variables';

.header {
  max-width: 1020px;
  height: 840px;
  padding: 0 120px;
  font-family: $default-font;
  background-image: url('../images/welcome.png');
  background-position: center;
  background-repeat: no-repeat;
  display: grid;
  grid-template-columns: repeat(12, minmax(0, 1fr));
  column-gap: 24px;

  &__top {
    max-width: 1020px;
    height: 65px;
    display: flex;
    justify-content: space-between;
    margin-top: 52px;
    grid-column: 1 / 13;
  }

  &__logo {
    width: 85px;
    line-height: 32px;
    color: white;
    font-size: 40px;
    font-family: $default-font;
    font-weight: 700;
    letter-spacing: -1.5px;
    text-align: center;
    text-transform: uppercase;
    margin: 0;
  }

  &__links {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    column-gap: 55px;
    align-content: center;
  }

  &__link--contact-wrapper {
    position: relative;
  }

  &__link {
    display: block;
    width: 32px;
    height: 32px;
    margin: 0;
    background-repeat: no-repeat;
    background-position: center;

    &--contact {
      background-image: url('../images/phone.svg');
    }

    &--menu {
      background-image: url('../images/menu.svg');
    }
  }

  &__contacts {
    width: 201px;
    height: 116px;
    opacity: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    top: -42px;
    right: 48px;
  }

  &__contact {
    margin: 0;
    font-family: $default-font;
    font-size: 16px;
    font-weight: 700;
    color: #fff;
    text-align: right;
    line-height: 27px;
  }

  &__link--contact:hover + &__contacts {
    opacity: 1;
  }

  &__title {
    margin: 83px 0 0;
    font-size: 80px;
    font-weight: 700;
    color: #fff;
    line-height: 80px;
    letter-spacing: -1.5px;
    text-align: center;
    grid-column: 4 / 10;
  }
}
