@mixin grid-container {
  box-sizing: border-box;
  max-width: $max-width;
  padding: 0 $margin-width;
  font-family: $default-font;
  display: grid;
  grid-template-columns: repeat(12, minmax(0, 1fr));
  column-gap: $gutter-width;
}
