.page {
  &__body {
    margin: 0;
  }

  &__container {
    max-width: 1260px;
    margin: auto;
  }

  &__header,
  &__schedule,
  &__exhibitions,
  &__online-content,
  &__contacts {
    margin: auto;
  }

  &__menu {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
  }

  &__schedule,
  &__exhibitions,
  &__online-content,
  &__contacts {
    margin-top: 140px;
  }

  &__footer {
    box-sizing: border-box;
    padding: 0 $margin-width;
    background-image: url('../images/footer.png');
    background-position: center;
    max-width: $max-width;
    height: 359px;
    margin-top: 150px;
  }
}
