.page {
  &__body {
    margin: 0;
  }

  &__container {
    max-width: 1260px;
    margin: auto;
  }

  &__header,
  &__schedule,
  &__exhibitions,
  &__online-content,
  &__contacts {
    margin: auto;
  }

  &__schedule,
  &__exhibitions,
  &__online-content,
  &__contacts {
    margin-top: 140px;
  }
}
